body {
    /* max-width: 1400px; */
    margin: 0 auto;
    background: lightgrey;
    align-content: center;
    height: 100%;
}

#topDiv {
    display: flex;
    justify-content: space-between;
}

.game-container{
    width: 1000px;
    height: 1000px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.animation-container {
    border: 1px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.game-controlls{
    margin-left: 25px;
}

#leftDiv{
    float:left;
    width: 275px;
}

#middleDiv{
    float:left;
    width: 325px;  
    margin: 0px 15px;
}

#rightDiv{
    float:left;
    width: 325px
}
#upgradeList {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.upgradeButton{
    margin: 15px;
}

#upgradeList div {
    margin: 5px;
    list-style-type: none;
}

#targisChat {
    background: black;
    color: white;
    padding: 5px;
    margin: 5px;
    height: 200px;
    border-top: 10px solid dimgray;
    border-radius: 5px;
}