.something-container{
    display:flex
}

button#myBtn {
    width: 250px;
}

.read-me {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
@keyframes glowing {
    0% {
        background-color: lightseagreen;
        box-shadow: 0 0 5px lightseagreen;
    }
    50% {
        background-color: #19a7e8;
        box-shadow: 0 0 20px #19a7e8;
    }
    100% {
        background-color: lightseagreen;
        box-shadow: 0 0 5px lightseagreen;
    }
}
.read-me {
    animation: glowing 1300ms infinite;
}


.animation-container {
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.animation {
    /* background-image: url("https://piskel-imgstore-b.appspot.com/img/56118f51-c8cf-11ea-bca2-311775629203.gif"); */
    background-image: url("worldwidepen.jpg");
    background-size: cover;
    border-radius: 6px;
    height: 100%;
    width: 100%;
}

.globe {
    background-image: url("https://i.gifer.com/origin/7e/7eb12511c10312207ef4ba12b1769a2e_w200.gif");
    background-size: cover;
    height: 100px;
    width: 100px;
    /* border: 1px solid red; */
}

.globe-progress {
    background: lightgreen;
    border-radius: 50%;  
    opacity: .3;
    height: 100%;
    width: 100%
}
#progress {
    background-image: url("https://i.gifer.com/origin/7e/7eb12511c10312207ef4ba12b1769a2e_w200.gif");
    background-size: cover;
    height: 98%;
    width: 100%;
}

body {
    margin: 0 auto;
    background: #1f1b35;
    align-content: center;
    height: 100%;
    font-family: 'Indie Flower', cursive;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 40px;
    margin: 25px;
    font-weight: 900;

}

h2 {
    font-size: 30px;
    margin: 5px
}

h3 {
    font-size: 26px;
    font-weight: 900;
    /* border-bottom: 1px solid black; */
    margin: 5px;
}

.details {
    width: 50%;
    height: 25px;
    padding: 3px;
    margin: 0 25px;
}
.links{
    margin-right: 10px;
}

.fab, .fas, .far{
    font-size: 30px;
    margin: 8px;
    color: lightslategray;
}

.pens-container {
    /* background: orange; */
    width: 525px;
}

.btnRestart {
   width: 150px
}

.gameStatus {
    display: flex;
    margin-top: 15px;
    margin-right: 25px;
    flex-direction: column;
    font-weight: 800;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#gameStatusText{
    color: orange;
}

.subcontent{
    padding: 8px;
    font-family: monospace;
}
button {
    font-family: monospace;
}

.game-container{
    max-width: 1100px;
    height: auto;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contentContainer {
    margin: 15px;
    padding: 3px;
}

.game-controls{
    margin-left: 25px;
    margin-right: 25px;
}

.upgradeButton{
    margin: 5px;
}

#leftDiv{
    float:left;
    width: 300px;
}

#middleDiv{
    float:left;
    width: 355px;
    margin: 0px 5px;
}

#rightDiv{
    float:left;
    width: 375px
}

#pens {
    font-family: monospace;
}

#topDiv {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#upgradeList {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#upgradeList div {
    margin: 5px;
    list-style-type: none;
}

#materialsDiv{
    margin-top: 25px;
}
#aiDiv{
    font-family: 'Orbitron', sans-serif;
    margin-top: -10px;
    width:350px
}

#targisHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* messages  */
.messages {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

p.message-old {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12;
    color: grey;
    margin-bottom: 0;
}

p.message-new {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 12;
    color: white;
    margin-top: 0;
}

#targisChat {
    background: black;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 95%;
    height: 175px;
    border-top: 10px solid dimgray;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
}

.instructions {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid lightgray;
    height: auto;
    align-items: center;
    padding: 1rem;
}
#circle{

    border: 5px solid red;
    padding: 20px;
    border-radius: 50%;
    height: fit-content;
}

#mouse-image{
    height: 150px;
    width: 150px;
    background: url("https://cdn0.iconfinder.com/data/icons/social-media-2219/50/48-512.png") no-repeat;
    background-size: contain;
    margin: 10px;
}

#stepone{
    /* float:right; */
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* animation */

/* .character{
    width: 948px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
} */

#canvas {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

canvas {
  border: 1px solid black;

}


.pulsate {
    -webkit-animation: pulsate .5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.0;
    }
}


#materials{
    font-weight: 500;
    font-family: monospace
}

.matCostDisplay {
    font-size: 18px;
}

.high-price {
    color: red 
}

.low-price {
    color: green 
}

.materials-buy {
    margin: 5px 0 5px 0 
}

.marketing-container{
    margin-top: 1rem;
}

.subcontent {
    font-size: 14px;
}

div#globeDiv {
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pen-own-title {
    font-weight: 500;
    font-family: monospace;
    margin-left: 1rem;
    font-size: 20px
}


/* Nav */

ul.nav {
    display: flex;
    justify-content: space-evenly;
}

.mod-header{
    font-size: 24px;
    margin: 1rem;
    border-bottom: 1px solid lightgray;
    padding: .5rem;
}

.mod-content-container {
    margin: 1rem;
    padding: .5rem;
}

button#modal-click-btn {
    width: 100px;
}

.screenshot1 {
    background: url("screenshots/upgrades.png") no-repeat;
    background-size: cover;
    width: 650px;
    height:200px;
}
.screenshot2 {
    background: url("screenshots/automation.png") no-repeat;
    background-size: cover;
    width: 550px;
    height:250px;
}

.mod-content-container p {
    font-size: 16px;
    font-family: monospace;
    font-weight: 500;
    width: auto
}

.mod-content-container h3 {
    text-decoration: underline;
}

.appendix-section{
    font-family: monospace;
    font-size: 13px;
}
.appendix-head{
    font-size: 18px;
    text-decoration: underline;
}

.appendix-list{
    margin: .5rem;
}

.appendix-list li {
    padding: .2rem;
}

strong {
    font-size: 17px;
}

.targis-list li {
    text-decoration: dotted;
    padding: .2rem;
}
.targis-list {
    font-family: monospace;
    font-size: 13px;
}

.game-instructions {
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 22px;
}

.fa-flag {
    color: red
}

.fa-trophy {
    color: gold
}